{% extends "main.html" %}
{% block content %}
<h1>New Menu Item</h1>

<!--

<form action="{{url_for('newMenuItem',produce_id=produce_id)}}" method='POST'>

<div class="jumbotron">

<p>Name:</p>
	<input type = 'text' size='30' name='name' placeholder = '' >

<p>id:</p>
	<input type = 'number' size='30' name='id' placeholder = ''>
	
<p>Description:</p>
	<input type = 'text' size='30' name='description' placeholder = ''>
	
<p>Price:</p>
	<input type = 'text' size='30' name='price' placeholder = ''>

<p>Type:</p>
	<input type = 'text' size='30' name='type' placeholder = ''>

<p>Produce ID:</p>
	<input type = 'number' size='30' name='produce_id' placeholder = ''>
<p>Path:</p>
	<input type = 'text' size='30' name='path'>

<input type='submit' value='Create'>

</div>
-->
{% endblock %}
